{% extends "main.html" %}

{% block page_title %}
    Stats, yo!
{% endblock %}

{% block page_content %}
    <div class="card-container">
        <div class="card-title">
            <p>Here are the votes! Refresh to see updates.</p>
            <p><b>Last refresh:</b> {{ current_date }}</p>
         </div>
        {% for card_id, votes in votes %}
            <div class="card">
                <img src="static/images/{{ card_id }}.png" alt="{{ card_id }} cat">
                <div class="card-content">
                    <p>{{ card_id.capitalize() }} - {{ votes }} / {{ total_votes }} votes</p>
                    <div class="bar-container">
                        <div class="bar" style="width: {{ (votes / total_votes) * 100 if total_votes > 0 else 0 }}%;"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
